name: Metrics
on:
  # Schedule daily updates
  schedule: [{ cron: "0 0 * * *" }]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: { branches: ["master", "main"] }
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.svg
          config_timezone: Europe/Samara
          base: header, activity
          plugin_lines: yes
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css, scss, less, makefile, qmake, lex, cmake
          plugin_code: yes
          plugin_code_languages: typescript, python, c, c++
          plugin_code_load: 400
          plugin_code_days: 90
          plugin_16personalities: yes
          plugin_16personalities_url: ${{ secrets.SIXTEEN_PERSONALITIES_URL }}
          plugin_16personalities_sections: personality, profile, traits
